<!DOCTYPE html>
<html>
  <head>
    <title>Edit Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees" class="btn btn-success mr-4" style="float: right;">Employee List</a></h3>
      <h1>Edit Employee</h1>
      <hr>
      <form action="/employees/update/<%= employee._id%>" method="post">
       <div class="box text-center">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" class="form-control" name="name" value="<%= employee.name %>" /></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><textarea class="form-control"  name="address"><%= employee.address %></textarea></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><input  class="form-control" type="text" name="position" value="<%= employee.position %>" /></td>
            </tr>
            <tr>
              <td>Salary</td>
              <td><input type="number" class="form-control" name="salary" value="<%= employee.salary %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit" class="btn btn-primary mt-4">Update</button></td>
            </tr>
          </tbody>
        </table>
       </div>
      </form>
    </div>
  </body>
</html>